@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("../font/icons/icons.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/***gaps***/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

* {
  font-family: "Lato", sans-serif;
}

.container {
  width: 98%;
  max-width: 940px;
  margin: 0 auto;
  min-width: 300px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 22px;
  color: #666d89;
  margin-bottom: 33px;
  text-transform: capitalize;
}

h2 {
  font-weight: 900;
  font-size: 18px;
  line-height: 14px;
  color: #666d89;
  text-transform: capitalize;
  margin-bottom: 15px;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

::before {
  font-family: icons;
  position: absolute;
}

header .zone1 {
  background-color: #2d2f3b;
  border-bottom: 6px solid #313745;
}

header .zone1 .container {
  display: flex;
  align-items: center;
  padding-bottom: 41px;
  padding-top: 36px;
  position: relative;
}

header .zone1 .container > a {
  margin-right: auto;
  width: 166px;
}

header .zone1 nav ul {
  display: flex;
}

header .zone1 nav ul li:nth-child(-n + 4) {
  margin-right: 37px;
  position: relative;
}

header .zone1 nav ul li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
}

header .zone1 nav ul li > a.active, header .zone1 nav ul li > a:hover {
  color: #f06c64;
  transition: all 0.3s linear;
}

nav li + li:nth-child(-n + 4)::after {
  content: ".";
  position: absolute;
  bottom: 1px;
  font-size: 12px;
  font-weight: 900;
  color: #494e62;
  padding: 0 17px;
  left: -37px;
}

nav li + li:nth-child(5)::before {
  content: ".";
  position: absolute;
  top: 41px;
  font-size: 12px;
  font-weight: 900;
  color: #494e62;
  padding: 0 17px;
  right: 56px;
}

.zone2 {
  background-color: #f06c64;
}

.zone2 .container {
  padding-top: 53px;
  padding-bottom: 64px;
  border-bottom: 6px solid #ea676c;
  position: relative;
}

.zone2 .container > a.left {
  position: absolute;
  bottom: 50%;
  background: url(../images/arrows.png) 0 0;
  width: 16px;
  height: 27px;
}

.zone2 .container > a.right {
  position: absolute;
  bottom: 50%;
  right: 0;
  background: url(../images/arrows.png) -16px 0;
  width: 16px;
  height: 27px;
}

.zone3 {
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.zone3 .container {
  padding-top: 67px;
  padding-bottom: 67px;
}

.zone3 .container p {
  margin-bottom: 52px;
}

.zone3 .container .box {
  display: flex;
  display: flex;
  flex-wrap: wrap;
}

.zone3 .container .box > *:nth-child(1n + 0) {
  margin: 0 21px 21px 0;
  width: calc(calc(100% - 42px) / 3);
}

.zone3 .container .box > *:nth-child(3n + 0) {
  margin-right: 0;
}

.zone3 .container .box p {
  margin-bottom: 0;
  padding-bottom: 37px;
}

.zone3 .container .box img {
  margin-right: 20px;
  max-width: 59px;
  max-height: 59px;
  color: #666d89;
  border: 3px solid #666d89;
  border-radius: 50%;
  padding: 10px;
}

.zone3 .container .article {
  display: flex;
}

.zone3 .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.zone4 {
  background-color: #2d2f3b;
  border-bottom: 6px solid #313745;
}

.zone4 .container {
  padding-top: 66px;
  padding-bottom: 73px;
}

.zone4 .container p {
  padding-bottom: 16px;
}

.zone4 .container > ul {
  display: flex;
  padding-bottom: 19px;
}

.zone4 .container > ul li {
  margin-right: 6px;
  border: 1px solid #666d89;
  border-radius: 4px;
}

.zone4 .container > ul li:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  border: 1px solid #fff;
}

.zone4 .container > ul li a {
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 7px;
  text-transform: capitalize;
}

.zone4 .container > ul li a:hover {
  color: #fff;
  transition: all 0.3s linear;
}

.zone4 .container > ul li a.active {
  color: #fff;
}

.zone4 .container .item {
  display: flex;
  flex-wrap: wrap;
}

.zone4 .container .item > *:nth-child(1n + 0) {
  margin: 0 20px 20px 0;
  width: calc(calc(100% - 60px) / 4);
}

.zone4 .container .item > *:nth-child(4n + 0) {
  margin-right: 0;
}

.zone4 .container .item a {
  position: relative;
  overflow: hidden;
  border: 3px solid transparent;
}

.zone4 .container .item a:hover {
  border: 3px solid #b6c0c1;
  transform: scale(1.1);
}

.zone4 .container .item a:hover::before, .zone4 .container .item a:hover::after {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.zone4 .container .item a::before {
  content: "";
  background-color: rgba(66, 98, 97, 0.5);
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.zone4 .container .item a::after {
  position: absolute;
  content: url("../images/zoom.svg");
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  opacity: 0;
  z-index: 2;
  font-family: icons;
  color: #bbbda5;
}

.zone5 {
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.zone5 .container {
  padding-top: 66px;
  padding-bottom: 73px;
}

.zone5 .container p {
  margin-bottom: 50px;
}

.zone5 .container > .profile {
  display: flex;
  display: flex;
  flex-wrap: wrap;
}

.zone5 .container > .profile > *:nth-child(1n + 0) {
  margin: 0 20px 20px 0;
  width: calc(calc(100% - 40px) / 3);
}

.zone5 .container > .profile > *:nth-child(3n + 0) {
  margin-right: 0;
}

.zone5 .container > .profile img {
  margin-bottom: 19px;
}

.zone5 .container > .profile h1 {
  margin-bottom: 18px;
}

.zone5 .container > .profile p {
  line-height: 21.5px;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 28px;
}

.zone5 .container > .profile ul {
  display: flex;
}

.zone5 .container > .profile ul li a {
  display: block;
  font-size: 32px;
  margin: 0 5px;
  text-decoration: none;
}

.zone5 .container > .profile ul li a img {
  max-width: 32px;
  max-height: 32px;
}

.zone5 .container > .profile ul li a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.zone6 {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676c;
}

.zone6 .container {
  padding-top: 66px;
  padding-bottom: 73px;
}

.zone6 .container h1 {
  color: #f0d8d9;
}

.zone6 .container p {
  color: #f0d8d9;
  margin-bottom: 49px;
}

.zone6 .container .field {
  display: flex;
  flex-wrap: wrap;
}

.zone6 .container section {
  width: calc(70% - 20px);
  margin-right: 20px;
}

.zone6 .container section input {
  width: 100%;
  padding: 13px 16px;
  outline: none;
  color: #f0d8d9;
  background-color: #d75650;
  border: none;
  border-radius: 4px;
}

.zone6 .container section input::placeholder {
  color: #f0d8d9;
}

.zone6 .container section input:nth-child(-n + 3) {
  margin-bottom: 16px;
}

.zone6 .container section textarea {
  max-width: 100%;
  min-width: 100%;
  padding: 13px 16px;
  max-height: 202px;
  min-height: 202px;
  background-color: #d75650;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #f0d8d9;
}

.zone6 .container section textarea::placeholder {
  color: #f0d8d9;
}

.zone6 .container aside {
  width: 30%;
}

.zone6 .container aside h1 {
  font-size: 18px;
  margin-bottom: 18px;
}

.zone6 .container aside p {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 31px;
  text-align: justify;
}

.zone6 .container aside ul li {
  margin-bottom: 10px;
  position: relative;
}

.zone6 .container aside ul li a::before {
  position: absolute;
  font-family: "icons";
}

.zone6 .container aside ul li:nth-child(1) a::before {
  content: "\e805";
  left: 0;
  bottom: 0;
}

.zone6 .container aside ul li:nth-child(2) a::before {
  content: "\e803";
  left: 0;
  bottom: 0;
}

.zone6 .container aside ul li:nth-child(3) a::before {
  content: "\e804";
  left: 0;
  bottom: 0;
}

.zone6 .container aside ul li:nth-child(1) a {
  text-transform: capitalize;
}

.zone6 .container aside ul li a {
  padding-left: 31px;
  text-decoration: none;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  text-transform: lowercase;
}

footer .zone7 {
  background-color: #2d2f3b;
}

footer .zone7 .container {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
}

footer .zone7 .container p {
  font-size: 12px;
}

footer .zone7 .container ul {
  display: flex;
  margin-left: auto;
}

footer .zone7 .container ul li {
  margin-right: 8px;
}

footer .zone7 .container ul li a {
  display: block;
  font-size: 32px;
  margin: 0 5px;
  text-decoration: none;
}

footer .zone7 .container ul li a img {
  max-width: 32px;
  max-height: 32px;
}

footer .zone7 .container ul li a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.hamburger {
  display: none;
  position: absolute;
  top: 21px;
  right: 1%;
  padding-right: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #f0d8d9;
}

@media screen and (max-width: 1025px) {
  .item {
    display: flex;
    flex-wrap: wrap;
  }
  .item > *:nth-child(1n + 0) {
    margin: 0 30px 30px 0;
    width: calc(calc(100% - 60px) / 3);
  }
  .item > *:nth-child(3n + 0) {
    margin-right: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 769px) {
  .zone4 .container .item {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .zone4 .container .item > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 40px) / 3);
  }
  .zone4 .container .item > *:nth-child(3n + 0) {
    margin-right: 0;
  }
  header nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .zone3 .container .box {
    display: flex;
    flex-wrap: wrap;
  }
  .zone3 .container .box > *:nth-child(1n + 0) {
    margin: 0 42px 42px 0;
    width: calc(calc(100% - 42px) / 2);
  }
  .zone3 .container .box > *:nth-child(2n + 0) {
    margin-right: 0;
  }
}

@media screen and (min-width: 427px) and (max-width: 575px) {
  .zone4 .container .item {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .zone4 .container .item > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 20px) / 2);
  }
  .zone4 .container .item > *:nth-child(2n + 0) {
    margin-right: 0;
  }
  header nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .zone3 .container .box {
    display: flex;
    flex-wrap: wrap;
  }
  .zone3 .container .box > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 0px) / 1);
  }
  .zone3 .container .box > *:nth-child(1n + 0) {
    margin-right: 0;
  }
  .zone5 .container > .profile {
    display: flex;
    flex-wrap: wrap;
  }
  .zone5 .container > .profile > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 20px) / 2);
  }
  .zone5 .container > .profile > *:nth-child(2n + 0) {
    margin-right: 0;
  }
  .zone6 .container section,
  .zone6 .container aside {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .zone6 .container section,
  .zone6 .container aside {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .container {
    width: 96%;
  }
  .zone6 .container p {
    text-align: justify;
  }
  header nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .zone5 .container > .profile {
    display: flex;
    flex-wrap: wrap;
  }
  .zone5 .container > .profile > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 0px) / 1);
  }
  .zone5 .container > .profile > *:nth-child(1n + 0) {
    margin-right: 0;
  }
  .zone4 .container .item {
    display: flex;
    flex-wrap: wrap;
    padding: 0 14px;
  }
  .zone4 .container .item > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 0px) / 1);
  }
  .zone4 .container .item > *:nth-child(1n + 0) {
    margin-right: 0;
  }
  .zone4 .container p {
    text-align: justify;
  }
  .zone5 .container p {
    text-align: justify;
  }
  .zone5 .container > .profile p {
    font-size: 14px;
  }
  .zone3 .container .box {
    display: flex;
    flex-wrap: wrap;
  }
  .zone3 .container .box > *:nth-child(1n + 0) {
    margin: 0 21px 21px 0;
    width: calc(calc(100% - 0px) / 1);
  }
  .zone3 .container .box > *:nth-child(1n + 0) {
    margin-right: 0;
  }
  .zone3 .container p {
    text-align: justify;
  }
  .zone4 .container > ul li {
    margin-right: 12px;
  }
}

/*# sourceMappingURL=style.css.map */