$white: #fff;
$white2: #f0d8d9;
$orange: #f06c64;
$blue1: #666d89;
$blue2: #767e9e;
$bg_color: #2d2f3b;
$dot: #494e62;
$border: #313745;
$border2: #ea676c;
$bg_color2: #f2f2f2;
$grey: #b6c0c1;
$blue3: #426261;
$zoom: #bbbda5;
$input: #d75650;

/***gaps***/
$gap: 20px;
